<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WarehouseWebServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>      
          
        </bindings>
        <client>
            <endpoint address="https://localhost:44334/WarehouseWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WarehouseWebServiceSoap"
                contract="WarehouseWebServiceSoap" name="WarehouseWebServiceSoap" />
            
        </client>
    </system.serviceModel>
</configuration>