<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WarehouseWebServiceSoap">
					<security mode="Transport" />
				</binding>
				<binding name="WarehouseWebServiceSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost:44334/WarehouseWebService.asmx"
			  binding="basicHttpBinding" bindingConfiguration="WarehouseWebServiceSoap"
			  contract="ServiceReference1.WarehouseWebServiceSoap" name="WarehouseWebServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>
